In [185]:
import numpy as np
import pandas as pd

In [186]:
file_name1 = 'Data Aisha 2.xlsx'
file_name2 = 'grant spreadsheet emma 2.xlsx'
file_name3 = 'grant spreadsheet kemi 2.xlsx'
file_name4 = 'grant spreadsheet.xlsx'

In [187]:
data1 = pd.read_excel(file_name1)
data2 = pd.read_excel(file_name2)
data3 = pd.read_excel(file_name3)
data4 = pd.read_excel(file_name4)

In [188]:
len(data1)

1308

In [189]:
data1.isna().sum()

Unnamed: 0     1307
Unnamed: 1        0
Unnamed: 2      866
Unnamed: 3        0
Unnamed: 4      325
Unnamed: 5        2
Unnamed: 6      954
Unnamed: 7      953
Unnamed: 8      820
Unnamed: 9        9
Unnamed: 10     853
Unnamed: 11    1147
Unnamed: 12     969
Unnamed: 13    1167
Unnamed: 14    1140
Unnamed: 15    1151
Unnamed: 16    1132
Unnamed: 17    1139
Unnamed: 18    1296
dtype: int64

In [190]:
len(data2)

1308

In [191]:
data2.isna().sum()

Unnamed: 0        0
Unnamed: 1      807
Unnamed: 2        0
Unnamed: 3      321
Unnamed: 4        2
Unnamed: 5      858
Unnamed: 6      856
Unnamed: 7      743
Unnamed: 8        5
Unnamed: 9      771
Unnamed: 10    1036
Unnamed: 11     873
Unnamed: 12    1032
Unnamed: 13    1038
Unnamed: 14    1048
Unnamed: 15    1032
Unnamed: 16    1042
Unnamed: 17    1140
dtype: int64

In [192]:
len(data3)

1308

In [193]:
data3.isna().sum()

Unnamed: 0     1307
Unnamed: 1        0
Unnamed: 2      822
Unnamed: 3        0
Unnamed: 4      325
Unnamed: 5        2
Unnamed: 6      901
Unnamed: 7      900
Unnamed: 8      766
Unnamed: 9        9
Unnamed: 10     797
Unnamed: 11    1093
Unnamed: 12     917
Unnamed: 13    1102
Unnamed: 14    1087
Unnamed: 15    1097
Unnamed: 16    1081
Unnamed: 17    1088
Unnamed: 18    1284
dtype: int64

In [194]:
len(data4)

1323

In [195]:
data4.isna().sum()

Unnamed: 0     1322
Unnamed: 1        0
Unnamed: 2      849
Unnamed: 3        0
Unnamed: 4      324
Unnamed: 5        2
Unnamed: 6      918
Unnamed: 7      916
Unnamed: 8      791
Unnamed: 9        7
Unnamed: 10     825
Unnamed: 11    1114
Unnamed: 12     937
Unnamed: 13    1112
Unnamed: 14    1120
Unnamed: 15    1129
Unnamed: 16    1113
Unnamed: 17    1120
Unnamed: 18    1232
dtype: int64

In [196]:
data1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,NaN,1,Mrs,Abidemi,Ayinke,Dosumu,NaN,NaN,Trader,8023763598,UBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
data2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,1967-03-04 00:00:00,53 iyun road surulere,Trader,8023763598,UBA,100000,2059795764,"sales of children toys and accessories, outdoo...",gift items,8 years,96,200000,yes
2,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Mrs,Risikat,Remilekun,Solanke,19/04/1964,27 onitolo road,Trader,8088884002,gtb,100000,139031927,applicant wants to expand business,drinks,6,75,150000,yes
4,4,Mr,Ismail,Abiola,Olarenwaju,17/10/1979,43 Durojaiye street,trader,8188267384,Access,30000,97421578,"Beneficiary run a food resturant , amount will...",food canteen,5,92,500000,Yes

In [198]:
data3.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,NaN,1,Mrs,Abidemi,Ayinke,Dosumu,NaN,NaN,Trader,8023763598,UBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [199]:
data4.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,NaN,1,Mrs,Abidemi,Ayinke,Dosumu,1967-03-04 00:00:00,53 iyun road surulere,Trader,8023763598,UBA,100000,2059795764,"sales of children toys and accessories, outdoo...",gift items,8 years,96,200000,yes
2,NaN,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
data1.drop(['Unnamed: 0'], axis = 1, inplace = True)
data3.drop(['Unnamed: 0'], axis = 1, inplace = True)
data4.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [201]:
data1.rename(columns = {'Unnamed: 1':'FORM NO', 'Unnamed: 2': 'TITLE', 'Unnamed: 3': 'FIRST NAME', 
                        'Unnamed: 4': 'MIDDLE NAME', 'Unnamed: 5': 'LAST NAME', 'Unnamed: 6': 'DATE OF BIRTH', 
                        'Unnamed: 7': 'HOME ADDRESS', 'Unnamed: 8': 'OCCUPATION', 'Unnamed: 9': 'PHONE NO',
                        'Unnamed: 10': 'BANK', 'Unnamed: 11': 'ALLOTMENT', 'Unnamed: 12': 'ACCOUNT NO', 
                        'Unnamed: 13': 'REMARK', 'Unnamed: 14': 'SECTOR', 'Unnamed: 15': 'YEARS IN BUSINESS', 
                        'Unnamed: 16': 'SCORE', 'Unnamed: 17': 'AMOUNT', 'Unnamed: 18': 'DECLINE/GRANT' }, inplace = True)

In [202]:
data2.rename(columns = {'Unnamed: 0':'FORM NO', 'Unnamed: 1': 'TITLE', 'Unnamed: 2': 'FIRST NAME', 
                       'Unnamed: 3': 'MIDDLE NAME', 'Unnamed: 4': 'LAST NAME', 'Unnamed: 5': 'DATE OF BIRTH', 
                        'Unnamed: 6': 'HOME ADDRESS', 'Unnamed: 7': 'OCCUPATION', 'Unnamed: 8': 'PHONE NO',
                        'Unnamed: 9': 'BANK', 'Unnamed: 10': 'ALLOTMENT', 'Unnamed: 11': 'ACCOUNT NO', 
                        'Unnamed: 12': 'REMARK', 'Unnamed: 13': 'SECTOR', 'Unnamed: 14': 'YEARS IN BUSINESS', 
                        'Unnamed: 15': 'SCORE', 'Unnamed: 16': 'AMOUNT', 'Unnamed: 17': 'DECLINE/GRANT' }, inplace = True)

In [203]:
data3.rename(columns = {'Unnamed: 1':'FORM NO', 'Unnamed: 2': 'TITLE', 'Unnamed: 3': 'FIRST NAME', 
                        'Unnamed: 4': 'MIDDLE NAME', 'Unnamed: 5': 'LAST NAME', 'Unnamed: 6': 'DATE OF BIRTH', 
                       'Unnamed: 7': 'HOME ADDRESS', 'Unnamed: 8': 'OCCUPATION', 'Unnamed: 9': 'PHONE NO',
                        'Unnamed: 10': 'BANK', 'Unnamed: 11': 'ALLOTMENT', 'Unnamed: 12': 'ACCOUNT NO', 
                       'Unnamed: 13': 'REMARK', 'Unnamed: 14': 'SECTOR', 'Unnamed: 15': 'YEARS IN BUSINESS', 
                       'Unnamed: 16': 'SCORE', 'Unnamed: 17': 'AMOUNT', 'Unnamed: 18': 'DECLINE/GRANT' }, inplace = True)

In [204]:
data4.rename(columns = {'Unnamed: 1':'FORM NO', 'Unnamed: 2': 'TITLE', 'Unnamed: 3': 'FIRST NAME', 
                        'Unnamed: 4': 'MIDDLE NAME', 'Unnamed: 5': 'LAST NAME', 'Unnamed: 6': 'DATE OF BIRTH', 
                       'Unnamed: 7': 'HOME ADDRESS', 'Unnamed: 8': 'OCCUPATION', 'Unnamed: 9': 'PHONE NO',
                        'Unnamed: 10': 'BANK', 'Unnamed: 11': 'ALLOTMENT', 'Unnamed: 12': 'ACCOUNT NO', 
                       'Unnamed: 13': 'REMARK', 'Unnamed: 14': 'SECTOR', 'Unnamed: 15': 'YEARS IN BUSINESS', 
                       'Unnamed: 16': 'SCORE', 'Unnamed: 17': 'AMOUNT', 'Unnamed: 18': 'DECLINE/GRANT' }, inplace = True)

In [205]:
data1.drop(data1.index[0], inplace = True)
data2.drop(data2.index[0], inplace = True)
data3.drop(data3.index[0], inplace = True)
data4.drop(data4.index[0], inplace = True)

In [206]:
data1.head()

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,NaN,NaN,Trader,8023763598,UBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,Mudirat,Oluwatoyin,Alao,NaN,NaN,NaN,8135988651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [207]:
data2.head()

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,1967-03-04 00:00:00,53 iyun road surulere,Trader,8023763598,UBA,100000,2059795764,"sales of children toys and accessories, outdoo...",gift items,8 years,96,200000,yes
2,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Mrs,Risikat,Remilekun,Solanke,19/04/1964,27 onitolo road,Trader,8088884002,gtb,100000,139031927,applicant wants to expand business,drinks,6,75,150000,yes
4,4,Mr,Ismail,Abiola,Olarenwaju,17/10/1979,43 Durojaiye street,trader,8188267384,Access,30000,97421578,"Beneficiary run a food resturant , amount will...",food canteen,5,92,500000,Yes
5,5,NaN,Mudirat,Oluwatoyin,Alao,NaN,NaN,NaN,8135988651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [208]:
data3.head()

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,NaN,NaN,Trader,8023763598,UBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,mrs,Mudirat,Oluwatoyin,Alao,18/3/1957,20 ajeke awowunmi street,Trader,8135988651,FirstBank,70000,3024177248,to restock shop,provision/drinks,15,80,850000,NaN

In [209]:
data4.head()

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,1967-03-04 00:00:00,53 iyun road surulere,Trader,8023763598,UBA,100000,2059795764,"sales of children toys and accessories, outdoo...",gift items,8 years,96,200000,yes
2,2,Mrs,Adetoro,NaN,Bayewu,NaN,NaN,Civil Servant,8029569059,GTB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,NaN,Risikat,Remilekun,Solanke,NaN,NaN,NaN,8088884002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,NaN,Ismail,Abiola,Olarenwaju,NaN,NaN,NaN,8188267384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,NaN,Mudirat,Oluwatoyin,Alao,NaN,NaN,NaN,8135988651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
data1.update(data2, join = 'left', overwrite = True)
data1.update(data3, join = 'left', overwrite = True)

In [211]:
data = data1.copy()

In [212]:
data.isna().sum()

FORM NO                 0
TITLE                 578
FIRST NAME              0
MIDDLE NAME           317
LAST NAME               2
DATE OF BIRTH         597
HOME ADDRESS          595
OCCUPATION            515
PHONE NO                5
BANK                  532
ALLOTMENT             725
ACCOUNT NO            603
REMARK                771
SECTOR                736
YEARS IN BUSINESS     769
SCORE                 724
AMOUNT                744
DECLINE/GRANT        1128
dtype: int64

In [213]:
data.update(data4, join = 'left', overwrite = True)

In [214]:
full_data = data.copy()

In [215]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [216]:
#pd.reset_option('display.max_rows')
#pd.reset_option('display.max_columns')

In [217]:
#export_csv = full_data.to_csv(r'C:\Users\GETHSEMAN\Desktop\GBAJA2\complete_dataframe.csv', 
#index = None, header=True)

**INFERENCES AND VISUALIIZATION

In [218]:
#The total number of applicants is:
len(full_data)

1307

In [219]:
#The variables that were captured in the data are:
full_data.columns

Index(['FORM NO', 'TITLE', 'FIRST NAME', 'MIDDLE NAME', 'LAST NAME',
       'DATE OF BIRTH', 'HOME ADDRESS', 'OCCUPATION', 'PHONE NO', 'BANK',
       'ALLOTMENT', 'ACCOUNT NO', 'REMARK', 'SECTOR', 'YEARS IN BUSINESS',
       'SCORE', 'AMOUNT', 'DECLINE/GRANT'],
      dtype='object')

In [241]:
full_data[full_data['FIRST NAME'] ==      'Rabiat']

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
38,38,Alhaja,Rabiat,A.,Lawson,NaN,2 onatoro lane barracks surulere,Trader,8023007540,UBA,60000,2059782223,to boost my business,petty trading,15,50,250000,yes
274,304,NaN,Rabiat,Ajobi,Quadri,NaN,NaN,NaN,8178662953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
297,341,Mrs,Rabiat,Alake,Ibrahim,1934-12-22 00:00:00,block 11 flat 27 rabiatu thompson surulere,trader,8027543982,union,30000,105905010,"she is 85 years old, trading in eko and garri....",wholesale of eko and garri,30,70,450000,yes
740,858,Mrs,Rabiat,Ejide,Saibu,1976-08-15 00:00:00,44 akerele street,Business,8027480094,UBA,NaN,2127005627,NaN,NaN,NaN,NaN,NaN,NaN

FORM NO, TITLE, FIRST_NAME, MIDDLE_NAME, LAST NAME, DATE OF BIRTH, HOME ADDRESS
OCCUPATION, PHONE NO, BANK, ALLOTMENT, ACCOUNT NUMBER, REMARK, SECTOR,
YEARS IN BUSINESS, SCORE, AMOUNT, DECLINE/GRANT

In [220]:
#The result below show the predictors and the total number of missing values
#for each of the variables that were captured in the dataset
full_data.isna().sum()

FORM NO                 0
TITLE                 417
FIRST NAME              0
MIDDLE NAME            85
LAST NAME               0
DATE OF BIRTH         447
HOME ADDRESS          444
OCCUPATION            350
PHONE NO                0
BANK                  370
ALLOTMENT             605
ACCOUNT NO            449
REMARK                648
SECTOR                618
YEARS IN BUSINESS     649
SCORE                 602
AMOUNT                628
DECLINE/GRANT        1054
dtype: int64

Let's calculate the total number of applicants whose application was granted.
The Words "yes" with 4 different literals and "grant" were used to this effect...
so we calculate all the records with these expressions

In [221]:
full_data['DECLINE/GRANT'].unique()

array(['yes', nan, 'Yes', 'yes ', 'grant', 'decline', '`yes', 'no '],
      dtype=object)

In [222]:
granted1 = full_data.loc[full_data['DECLINE/GRANT'] == 'Yes']
granted1

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
4,4,Mr,Ismail,Abiola,Olarenwaju,17/10/1979,43 Durojaiye street,trader,8188267384,Access,30000,97421578,"Beneficiary run a food resturant , amount will...",food canteen,5,92,500000,Yes
426,500,Mrs,Hammed,Suliamon,Ajibade,1960-01-10 00:00:00,blk 9 flat 2 rabiatu thompson crescent,Entrepreneur,8080401331,Polaris,50000,1012072626,SHE needs the funds as start up capital for th...,making soap,3,63,50000,Yes

In [223]:
granted2 = full_data.loc[full_data['DECLINE/GRANT'] == 'yes']
granted2

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
1,1,Mrs,Abidemi,Ayinke,Dosumu,1967-03-04 00:00:00,53 iyun road surulere,Trader,8023763598,UBA,100000,2059795764,"sales of children toys and accessories, outdoo...",gift items,8 years,96,200000,yes
3,3,Mrs,Risikat,Remilekun,Solanke,19/04/1964,27 onitolo road,Trader,8088884002,gtb,100000,139031927,applicant wants to expand business,drinks,6,75,150000,yes
14,14,Mrs,Muibat,Alaba,Lawal,1970-05-25 00:00:00,44 adedeji street ijesha surulere,Trader,8088884233,Union,100000,84548343,funds is required to support about 4 children ...,sales of minerals and juice,5,85,500000,yes
15,15,Mrs,Sopuruchi,Anna,Mbam,1970-05-25 00:00:00,44 adedeji street ijesha surulere,Trader,8034154813,Union,100000,84548343,funds is required to support about 4 children ...,sales of minerals and juice,5,85,500000,yes
20,20,MRS,Boluwatife,Ajoke,Sule,1967-12-24 00:00:00,7 Orotesdo street,Trader,7014395994,Access,NaN,61261663,"the injection of #100,000 will expand her busi...",NaN,7 years,93,100000,yes
21,21,Mrs,Ganiyat,Agbeke,Ismaila,1967-12-24 00:00:00,7 Orotesdo street,Trader,8099327307,Access,NaN,61261663,"the injection of #100,000 will expand her busi...",Beverage,7 years,93,100000,yes
23,23,Mrs,Fatimoh,NaN,Keye,1961-01-02 00:00:00,"16, onatoro lane",Trader,7089792910,GTB,90000,11068838,applicant runs a wholesale and retail supply b...,drinks,10,75,250000,yes
27,27,Mrs,Bilikisu,Wada,Ismail,11-16-1963,2 akerele street,Catering,8026992410,ECO,NaN,2651181751,NaN,cathering/ groceries,20yrs,85,80000,yes
28,28,Mrs,Fatima,Asabe,Shafi,11-16-1963,2 akerele street,Catering,8023591991,ECO,20000,2651181751,funds needed to boost sales,cathering/ groceries,20yrs,85,80000,yes
30,30,Mrs,Ramota,Alaba,Aruna,24/4/1953,33 onafioro lane,Trader,8173644959,GTB,80000,238522681,to boost business,food,5,58,300000,yes
38,38,Alhaja,Rabiat,A.,Lawson,NaN,2 onatoro lane barracks surulere,Trader,8023007540,UBA,60000,2059782223,to boost my business,petty trading,15,50,250000,yes
39,39,Mr,Adeniyi,Hakeem,Yahya,1977-02-08 00:00:00,6 jeminatu buraimoh close,Trader,8023333885,weMA,10000,122892989,to support my business,PHONE ACCESSORIES,16,45,500000,yes
44,44,Mrs,Gbonjubola,Farida,Iyanda,1974-04-11 00:00:00,5 orotedo street,Baker,8075509670,GTB,NaN,2651173370,NaN,fashion designing,15years,89,150000,yes
47,47,Mrs,Modinat,Abiodun,Shangodipe,1974-04-11 00:00:00,5 orotedo street,Tailor/ Caterer,7033971455,ECO,NaN,2651173370,NaN,fashion designing,15years,89,150000,yes
56,57,Mrs,Mojisola,Omotayo,Babalola,1965-07-07 00:00:00,21 modele street,trader,8027256858,access,50000,36656534,need funds to expand drinks business,soft drinks and water,2,67,200000,yes
59,60,Mrs,Alimot,Adenike,Tijani,1989-11-04 00:00:00,5A olorogun lane off barracks surulere,Trader,9072699474,Access,75000,34013556,recommended sum is deemed adequate for anticip...,"sales of wine, juice and bottled water",2,90,150000,yes
65,67,Mrs,Ramota,Raliat,Sheu,16/08/1970,block 19 flat 2 alhaji masha road,Trader,7080345751,Access,50000,1108378810,has a shop but needs to expand,drinks,20,60,500000,yes
68,71,Mrs,Aina,Raliat,Matti,1982-07-07 00:00:00,blk 11 flat 14 rabiatu thompson crescent shitta,Trader,8178347678,Access,50000,1108378810,fund is needed to boost her working capital,soft drinks,12,75,150000,yes
71,76,Mrs,Aminat,Foluwakemi,Ajala,1982-07-07 00:00:00,blk 11 flat 14 rabiatu thompson crescent shitta,Trader,8178347678,Union,50000,105612323,fund is needed to boost her working capital,soft drinks,12,75,150000,yes
75,80,Mrs,Monsurat,Olaitan,Salau,1978-07-07 00:00:00,2 jeminatu buraimoh close,trader,8027776484,uba,50000,2123770181,needs funds for marketing development,trading,15,50,50000,yes
78,85,Mrs,Fatima,Suberu,Adams,1982-08-03 00:00:00,blk 11 flat 30 rabiatu thompson crescent shitta,Trader,9029072846,Polaris,50000,1012162842,the business line has attractive margins. The ...,artisan,8 years,93,200000,yes
97,106,miss,Bintu,Hassan,Thompson,1959-04-10 00:00:00,blk2 flat 22 akerelere,trader,8023889941,Access,60000,35083371,to upgrade business,drinks,30,65,350000,yes
104,113,Mrs,Blessing,Ihuoma,Ihemegbeulam,27/07/1966,11 hogan bassey crescent,Trader,7031104204,FirstBank,30000,3050720142,needs to expand business base,food retailer,20,45,500000,yes
111,120,Mrs,Sidikat,Nike,Shabi,19/07/1962,31 ogunmola close,Trader,8185726112,UBA,50000,2049742352,she sells cooked rice and yam and a lot of exp...,caterer,11yrs,85,100000,yes
115,124,Mrs,Falilat,Omomayowa,Babatunde,19/07/1962,31 ogunmola close,Trader,8185753916,UBA,50000,2049742352,she sells cooked rice and yam and a lot of exp...,caterer,11yrs,85,100000,yes
120,130,Mrs,Mutiat,Ibidun,Badara,1982-05-01 00:00:00,4 akerele street,Business,8029290543,FirstBank,50000,308391439,"operates business from home, needs funds to ex...",rentage of cooking pot and gas stove,10yrs,65,200000,yes
124,134,Mrs,Fatimoh,Bintu,Shittu,1971-11-10 00:00:00,"23, benson street surulere",business,8056133211,UBA,50000,2014002450,"operates business from home, needs funds to ex...",rentage of cooking pot and gas stove,10yrs,65,200000,yes
135,146,Mrs,Ronke,Abimbola,Oyelohunnu,1984-11-08 00:00:00,block 20 rabiatu thompson,Trader,8058601491,Polaris,100000,1012084445,to boost her campala business,campalla trade,15yrs,60,300000,yes
138,150,Mrs,Adedotun,Salamot,Olufemi,13/08/1980,11 banire street,Trader,8030601680,FirstBank,50000,3023399609,food is needed to boost her working capital,souveir,10yrs,70,400000,yes
140,152,Mrs,Ganiyat,Adewunmi,Fasasi,1984-11-08 00:00:00,block 20 rabiatu thompson,Trader,8063671624,Polaris,100000,1012084445,to boost her campala business,campalla trade,15yrs,60,300000,yes
143,157,Mrs,Adeola,Salamot,Adeshigbin,13/08/1980,11 banire street,Trader,7089182298,FirstBank,50000,3023399609,food is needed to boost her working capital,souveir,10yrs,70,400000,yes
147,164,Mrs,Ebun,Omolara,Oshileye,24/1/1964,37 benson street,Business,8144725774,Union,150000,1002297011,to boost her business,catering,9,96,900000,yes
168,187,NaN,Sekinat,Aramide,Bankole,13/04/1998,18 adeniji street,Business,8184994051,Gtb,60000,176895557,funds is needed for business support and estab...,fashion,2,58,200000,yes
178,198,mrs,Chineye,Monica,Ofenedu,1986-01-06 00:00:00,16 adegoke street,Catering,7038705737,FirstBank,NaN,3032493961,to buy more equipment and ability to improve ...,caterer,10yrs,70,300000,yes
183,203,mrs,Fatimoh,Bimpe,Olufemi,10-7-1776,70 adedoyin road,Catering,8036736235,FirstBank,NaN,3032493961,to buy more equipment and ability to improve ...,caterer,10yrs,70,300000,yes
184,204,NaN,Bilikisu,Alade,Lawal,1956-05-12 00:00:00,blk 1 flat 12 rabiatu thompson crescent shitta,trading,8034399529,union,20000,114267383,to improve business and move higher,petty trading,30,60,20000,yes
189,211,NaN,Fatima,Abike,Olaiya,1956-05-12 00:00:00,blk 1 flat 12 rabiatu thompson crescent shitta,trading,8024327351,union,20000,114267383,to improve business and move higher,petty trading,30,60,20000,yes
193,216,Mrs,Risikat,Oyinlola,Salami,1979-03-02 00:00:00,6 Ifelodun Street,Trader,8023941791,gtb,40000,371244091,applicant needs money to buy more goods to sto...,dealers,6,70,400000,yes
194,217,Mrs,Bilikisu,Anike,Omidiji,1968-10-04 00:00:00,83 ojuelegba road surulere,fruit seller,7069766198,polaris,20000,1012087484,funds required for business expansion,agriculture: fruits,15yrs,55,50000,yes
198,221,Mrs,Patience,Iyabo,Olaniyan,1968-06-04 00:00:00,4 bank olemoh street surulere,business,8023038889,firstBank,150000,3012503060,"great drink business, doing well but can do wi...",sales of drinks and water,30,76,200000,yes
199,222,Mrs,Moyosore,Onyekachi,Adepeju,1955-01-01 00:00:00,blk 1 flat 12 rabiatu thompson crescent shitta,business,8148425687,access,30000,817670124,to buy more stock for her business,sales of banana,NaN,60,50000,yes
203,226,Mrs,Josephine,E.,Djoma,1968-06-04 00:00:00,4 bank olemoh street surulere,business,8023119891,firstBank,150000,3012503060,"great drink business, doing well but can do wi...",sales of drinks and water,30,76,200000,yes
220,244,NaN,Fatimoh,Adeola,Bakare,20/07/,24 sanya street,trading,7062990882,Zenith,30000,1013503177,has a shop and needs to boost a business,computer accessory,10,55,200000,yes
226,250,Mrs,Gladys,Iyabode,Abowaba,1983-05-04 00:00:00,20 adegoke street off alh masha,business,8083278806,gtb,50000,241480127,to increase investment and turnover,food vendor,2,55,500000,yes
231,255,Mrs,Kudirat,Elizabeth,Omololu,1939-01-01 00:00:00,13 bank olemoh str,Trader,7087141054,union,70000,105629862,to increase investment and turnover,provision,15,50,250000,yes
238,262,ms,Kafayat,Yetunde,Onigbanjo,23/05/1977,54 haastrup street,business,8094678551,Diamond,40000,65361190,tobadd to her business,adire seller,20,70,200000,yes
260,286,miss,Zabbalimat,Olayinka,Oladosu,1997-05-07 00:00:00,84 ibidun street,hair Dresser,8122381966,access,50000,9997882,funds is required to expand the business and e...,hair dressing,4,45,100000,yes
262,288,Mrs,Funmilayo,Adenike,Joseph,06.09.1987,block 6 flat 1 bank olemoh extension surulere,Stylist,8025161553,UBA,40000,211640643,funds is required for bulk purchase of hair ac...,hair dressing,4,90,500000,yes
265,291,miss,Damilola,Ebele,Osakwe,1997-05-07 00:00:00,84 ibidun street,hair Dresser,8098103304,access,50000,9997882,funds is required to expand the business and e...,hair dressing,4,45,100000,yes
267,294,Mrs,Rukayat,Temitope,Olagunju,06.09.1987,block 6 flat 1 bank olemoh extension surulere,Stylist,8029508410,UBA,40000,211640643,funds is required for bulk purchase of hair ac...,hair dressing,4,90,500000,yes
271,298,reet,Silifat,Olasukanmi,Yahya,14/12/1962,7 Rosamond street,trader,7043113075,UBA,80000,2091625777,she needs the fund for her business expansion,consumer goods,10,80,500000,yes
273,301,mrs,Nureu,Rael,Olarenwaju,1968-05-13 00:00:00,7 Orotesdo street,Business,8034451710,Access,NaN,1102166811,has good finicial descipline,NaN,10yrs,70,yes,yes
282,321,mrs,Ramota,Bolatito,Bello,1994-03-02 00:00:00,20 ladega close,trader,8022882889,fidelity,20000,6560132792,she needs to expand her business,footwear,5,55,200000,yes
285,324,NaN,Modino,Abolore,Okunlaya,1978-08-02 00:00:00,172 akerele extension,trader,8034752140,access,75000,696148952,to help her expand business,provision,5,77,100000,yes
286,325,Mrs,Funmilayo,Iyabo,Olatunji,1978-10-02 00:00:00,"6 adelabu, marsha",trader,8157381165,gtb,180000,157126818,applicant owns a shop and would like to expand,provision,5,80,300000,yes
292,333,Mrs,Modinat,Fehintola,Ibrahim,1934-12-22 00:00:00,block 11 flat 27 rabiatu thompson surulere,trader,8112589560,union,30000,105905010,"she is 85 years old, trading in eko and garri....",wholesale of eko and garri,30,70,450000,yes
294,335,mrs,Turai,Omobolanle,Aliu,22/06/1972,80 karimu street,trader,8022824739,FirstBank,100000,3067860307,to boost her business,paper rolls,6,53,500000,yes
295,337,mrs,Fatima,Amoke,Gbadegesin,1937-12-28 00:00:00,31 ogunmola street,Trader,7016382843,UBA,NaN,2197589646,she has a real need to stock her shop,foodstuff/drinks,7yrs,68,100000,yes
297,341,Mrs,Rabiat,Alake,Ibrahim,1934-12-22 00:00:00,block 11 flat 27 rabiatu thompson surulere,trader,8027543982,union,30000,105905010,"she is 85 years old, trading in eko and garri....",wholesale of eko and garri,30,70,450000,yes
300,345,mrs,Tawakalit,Amoke,Ayinla,1937-12-28 00:00:00,31 ogunmola street,Trader,8183767546,UBA,NaN,2197589646,she has a real need to stock her shop,foodstuff/drinks,7,68,100000,yes
301,346,Mrs,Aisha,Anike,Aleshimagun,1975-09-09 00:00:00,block 3 flat 13 ogunmola close,trader,8028591206,gtb,70000,114644546,to boost her business,fruits,2,77,150000,yes
319,373,NaN,Abosede,Olajumoke,Otunlape,1950-01-01 00:00:00,block 11 flat 2 rabiatu thompson surulere,trader,8082041499,gtb,30000,128531588,funds is required to boost her working capital...,pepper and tomato sales,30,85,100000,yes
324,379,Mrs,Moriliat,Ashabi,Owoniran,1966-12-07 00:00:00,blk 6 flt 6 games village,trader,8023834632,access,100000,696989724,funds is required to boost her working capital...,"sales of wine, juice and bottled water",15,68,200000,yes
325,380,Mrs,Musiliat,Abike,Adegbite,1950-01-01 00:00:00,block 11 flat 2 rabiatu thompson surulere,trader,8087921966,gtb,30000,128531588,funds is required to boost her working capital...,pepper and tomato sales,30,85,100000,yes
329,385,Mrs,Tawakalit,Funke,Idriss,1972-03-08 00:00:00,19 ilesanmi street,Trader,7052033420,gtb,100000,158801707,needs money to grow her business,soft drinks,7,60,500000,yes
330,386,Mrs,Azeezat,Aduke,Kosoko,1966-12-07 00:00:00,blk 6 flt 6 games village,trader,8029099080,access,100000,696989724,funds is required to boost her working capital...,"sales of wine, juice and bottled water",15,68,200000,yes
336,393,Mrs,Shukurat,Opeyemi,Adigwe,04-17-1984,1 bode thomas,Business,8166615433,gtb,120000,8221444,to boost my business,wholesales and provisions,5 years,86,400000,yes
339,396,Mrs,Fausat,Atobiloye,Onigbanjo,1952-09-05 00:00:00,2 rabiatu thompson,Food Seller,8082524010,Union,50000,106378040,she need funds to boost her business,food seller,10yrs,75,100000,yes
347,405,Mrs,Olabisi,Idayat,Ajayi,21/07/1971,blk 14 flat 1 rabiatu thomopson crescent,Trader,8121400948,Polaris,60000,1019704700,to be able to do bulk purchase and to enjoy si...,drink and pepper soup/bar,15,98,200000,yes
349,408,Mrs,Rebecca,Mojisola,Akanbi,1986,84 ibidun street,Trader,8022710801,FirstBank,50000,3024004661,to boost my business and get a better space,trader,7,50,100000,yes
353,412,Mrs,Shakirat,Folashade,Mgbejume,21/07/1971,blk 14 flat 1 rabiatu thomopson crescent,Trader,8144458147,Polaris,60000,1019704700,to be able to do bulk purchase and to enjoy si...,drink and pepper soup/bar,15,98,200000,yes
357,416,Mrs,Ganiyat,Toyin,Yusuf,18/07/1986,32d ogunmola close,Trader,7055239442,gtb,100000,12040598,funds is required to boost her working capital...,assorted drinks and food stuff,6yrs,80,200000,yes
358,417,Mrs,Omotayo,Omolade,Gbadamosi,30/07/1969,21 ayepeju street,Trader,8182756138,access,50000,30389061,to restore business which task force closed down,clothing,4,45,150000,yes
363,422,Mrs,Kadijat,Toyin,Balekan,18/07/1986,32d ogunmola close,Trader,8025717865,gtb,100000,12040598,funds is required to boost her working capital...,assorted drinks and food stuff,6yrs,80,200000,yes
364,423,Mrs,Kehinde,Rukayat,Ramon,1986-09-27 00:00:00,blk 1 flt 9 ogunmola close surulere lagos,trader,8059181948,access,50000,28441447,funds is required to boost her working capital...,sales of provision and household items,14,85,150000,yes
369,430,Miss,Adija,Ayomide,Benjamin,23/07/1976,flat 18 rabiatu thompson,Trader,8084381681,gtb,100000,177476029,funds is required to boost her working capital...,sales of drinks and water,10yrs,60,200000,yes
387,454,Mrs,Sherifat,Murawa,Raji,1974-11-04 00:00:00,70 adedoyin street obele,Fashion Designer,9055183739,access,50000,61544308,funds is required to boost her working capital...,trader,7,75,200000,yes
391,458,Mrs,Yetunde,Ajoke,Kenku,1981-01-09 00:00:00,18 ishaga road,Trader,8028425826,UBA,30000,2059796383,has a shop and needs to boost her business,groceries & Drinks,3,57,500000,yes
397,465,Mrs,Abiose,Kuburat,Oritoke,1980-08-06 00:00:00,Block 19 Flat 18 Alhaji Masha Road,Trader,8029474213,UBA,20000,2059785561,looking to expand plantain roasting business,plantain roasting,30,78,500000,yes
405,475,mrs,Roli,NaN,Onwuegbuzie,20/06/1972,yesufu sanusi str,Business,8033086677,FirstBank,NaN,3032459738,"petty trader, amount requested is high compare...",petty trader,5yrs,65,300000,yes
408,478,Miss,Omolara,Modinat,Ibrahim,1985-04-08 00:00:00,40 alh masha road,Business,8121114936,Access,50000,706273274,to implrove business and establisjh the busine...,hair dressing,1,55,100000,yes
411,482,mrs,Ojuolape,Muyiwa,Sapara,1962-11-12 00:00:00,9 martins str,Trader,8085268722,Access,50000,14127908,"petty trader, amount requested is high compare...",petty trader,5yrs,65,300000,yes
414,485,Miss,Feyishola,Zainab,Yusuf,1999-07-17 00:00:00,block 1 flat 13 rabiatu thompson surulere,stylist,7017944697,fidelity,50000,6160785938,to implrove business and establisjh the busine...,hair dressing,1,55,100000,yes
417,490,Mrs,Folashade,Muyiwa,Onigbanjo,1976-01-12 00:00:00,blk 11 flt 2 rabiat thompson,Trader,9092886361,gtb,50000,154703889,funds is required to boost her working capital...,beer and minerals,8,75,200000,yes
418,491,Miss,Iyabo,Oluwabunmi,Shoregun,1974-03-16 00:00:00,blk 18 flat 7 R.T.C shitta surulere,trader,8025986178,polaris,50000,1012136698,funds is required to rent a shop and also for ...,hair dressing,2,75,4000000,yes
420,493,mr,Oyedotun,Ahisha,Modupe,18/08/1967,flt 10 rabiatu thompson,Trader,8170002258,UBA,100000,209845034,expansion of existing business,rental service,2,60,400000,yes
449,523,NaN,Ajanaku,Bilikisu,Ayodele,1965-10-10 00:00:00,11C olawale daoudu street surulere,trader,8036363306,access,100000,45793156,funds is required to boost her working capital...,"sales of wine, juice and bottled water",30,60,500000,yes
455,529,Mrs,Tijani,Bilikisu,Toyin,1965-10-10 00:00:00,11C olawale daoudu street surulere,trader,8065005450,access,100000,45793156,funds is required to boost her working capital...,"sales of wine, juice and bottled water",30,60,500000,yes
457,531,Mrs,Bridget,Adenike,Ikhimeagie,1974-01-08 00:00:00,136 Akerele Street,Trader,8035378833,zenith,50000,300000,yes,clothing/textile,18,55,300000,yes
458,532,mrs,Igwebuike,Cecilia,Nwafor,1990-05-08 00:00:00,7 oreofe street,Trader,7016015155,FirstBank,60000,3095765571,she sells soft drinks and needs fund for busin...,food & drinks,2,72,300000,yes
459,533,Mrs,Bilikis,Abiodun,Kassim,1973-12-23 00:00:00,33 bank olemoh street surulere lagos,trader,8035395056,access,50000,62935572,to support food items and beverages business,food items,15,46,150000,yes
463,538,Mrs,Adeyinka,Adenike,Bello,1974-01-08 00:00:00,136 Akerele Street,Trader,7010004015,gtb,40000,12748832,"does home service,has no shop.",fashion/personal care,4,55,300000,yes
468,543,Mrs,Ganiyu,Opeyemi,Rukayat,1990-10-14 00:00:00,"79, durojaiye street obele oniwala surulere",business,8136607963,gtb,150000,229489971,frozen food trader - 5 years,beverage,5yrs,60,50000,yes
490,566,miss,Rafiat,Arinola,Ibrahim,1999-04-04 00:00:00,81 olawale daudu street,trader,8026284712,gtb,80000,455269035,"she sells noddles in cartons and cooks, lookin...",indomie seller,3,85,100000,yes
493,569,Mrs,Oshokoya,Hakeem,Abayomi,24/05/1970,14 olawale dawudu street,Tailor,7016594315,union,100000,106621416,she has been in the business and need to grow,fashion designing,10,75,500000,yes
494,570,Mr,Beecroft,Adebanke,Adetoun,1905-05-31 00:00:00,1 Benson Street,Trader,8099777285,stanbic,50000,7300263224,to boost his business,trading,15,35,100000,yes
516,594,NaN,Rukayat,Abolore,Kuranga,1981-01-22 00:00:00,blk 21 flat 1 rabiatu thompson crescent,business,8023870482,gtb,30000,177584283,funds needed for business expansion,shoe sales,NaN,95,30000,yes
521,599,Mr,Thompson,Ololade,Olajumoke,1984-11-20 00:00:00,16 bank olemoh street,business,8063573669,GTBank,200000,18306988,applicant appears ambituous and aggressive in ...,"buying, selling and supply",NaN,85,400000,yes
522,600,NaN,Sanni,Halimat,Oladunni,1979-11-02 00:00:00,172 akerele street,trader,8029413230,fidelity,80000,62329666184,funds is required to boost her working capital...,clothing,10,63,800000,yes
523,601,mrs,Adijat,Ajoke,Kayode,17/09/1969,"block 22, flat 23, rabiatu thompson crescent",Trader,8062351513,gtb,100000,24717000,applicant needs a new store,pot trader,8,54,200000,yes
528,606,Mr,Ismaila,Ololade,Salau,1984-11-20 00:00:00,16 bank olemoh street,business,8064421591,GTBank,200000,18306988,applicant appears ambituous and aggressive in ...,"buying, selling and supply",NaN,85,400000,yes

In [224]:
granted3 = full_data.loc[full_data['DECLINE/GRANT'] == 'yes ']
granted3

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
43,43,Mrs,Mopelola,Shadia,Hassan,25/03/1955,7 Banire street,Trader,8027109379,FirstBank,100000,3015347054,applicant wants to grow business,packaging(tapes & sacks),13,91,100000,yes
296,338,Mrs,Zainab,Mosunmola,Ayeni,1989-01-18 00:00:00,17 olufemi street off nathan surulere,business,7032969436,gtb,200000,37279425,to be able to be financially stable and self i...,fashion designing,30,85,650000,yes

In [225]:
granted4 = full_data.loc[full_data['DECLINE/GRANT'] == '`yes']
granted4

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
281,320,Mrs,Eunice,Abosede,Ekundayo,1965-10-31 00:00:00,"3 bamishe close, off daniel along mushin road",trader,8073152839,ubA,50000,207692335,funds is required to boost her working capital...,footwear and bags,9,45,200000,`yes

In [ ]:
granted5 = full_data.loc[full_data['DECLINE/GRANT'] == 'grant']
granted5

,FORM NO,TITLE,FIRST NAME,MIDDLE NAME,LAST NAME,DATE OF BIRTH,HOME ADDRESS,OCCUPATION,PHONE NO,BANK,ALLOTMENT,ACCOUNT NO,REMARK,SECTOR,YEARS IN BUSINESS,SCORE,AMOUNT,DECLINE/GRANT
266,293,mrs,Nimotalah,Oyenike,Ibrahim,15/06/1956,6 jeminatu buraimoh cls,trader,8088805228,uba,50000,3470520083789,funds to boost working capital,kerosine,9,80,400000,grant

In [ ]:
#Total Number of applicants whose application was granted is equal to: 251
len(granted1) + len(granted2) + len(granted3) + len(granted4)+ len(granted5)

In [ ]:
Yes_applicants = pd.concat([granted1, granted2, granted3, granted4, granted5])

In [ ]:
len(Yes_applicants)

In [ ]:
#The total number of applicants not getting the grant = 1056
len(full_data)  - len(Yes_applicants)

In [ ]:
Yes_applicants

Let's drop the applicant below with missing allotment and amount

In [ ]:
export_csv = full_data.to_csv(r'C:\Users\GETHSEMAN\Desktop\GBAJA2\yes_appliants.csv', 
index = None, header=True)

In [ ]:
#Yes_applicants.drop(['301'], axis  = 0, inplace = True)

In [ ]:
#Yes_applicants[Yes_applicants['AMOUNT'] == 'yes']

In [ ]:
#Yes_applicants['AMOUNT'] = Yes_applicants['AMOUNT'].astype(int)